<!DOCTYPE html>
<html>
    <head>
        <title>Town Country River</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
        <link href="bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet" media="screen">
        <link href="css/custom.css" rel="stylesheet" media="screen">
        <script src="http://code.jquery.com/jquery-latest.js"></script>
        <script src="js/jquery.transit.js" type="text/javascript"></script>
        <script src="http://tcrmarkup.herokuapp.com/socket.io/socket.io.js"></script>
        <script src="bootstrap/js/bootstrap.min.js"></script>
        <script src="js/jquery.paginate.js"></script>
        <script src="js/jquery.dom-outline.js"></script>
        <script src="js/custom.js"></script>

    </head>
    <body>
        <div class="overlay"> </div>
        <a href="#" class="close-button"><img src="/img/close.png"></a>
        <div class="error post-it"> </div>
        <div class="hint_post post-it"> </div>
        <div class="content">
            <div class="logo">

            </div>
            <div class="container">
                <div class="root">
                    <div class="paper paper1 about root">
                        <h1 class="paper_title"> How to Play </h1>
                        <br>
                        <p> Town, Country, River is a game where the players have to write words beginning with a random letter that is randomly selected in the start of each round.</p>
                        <p> The words should be in the right category and are validated by the others players. </p>
                        <p> Unique word: 10 points <br>Repeated word: 5 points  </p>
                    </div>
                    <div class="paper paper2 active login root">
                        <h1 class="paper_title"> Let's Play! </h1>
                        <form class="login_form paper_form">
                            <div class="nickname">
                                <label class="label_nickname" for="input_nickname">Nickname</label>
                                <input type="text" class="hint" id="input_nickname" name="nickname">
                            </div>
                            <button type="button" class="hint paper_btn" id="submit_login_btn"> Start! </button>
                        </form>
                    </div>
                </div>
                <div class="home">
                    <div class="paper paper3 chat home">
                        <h1 class="paper_title"> Chat </h1>
                        <textarea class="chat_outside"></textarea>
                        <input type="text" class="text_outside hint" placeholder="Press enter to send message" id="text_outside"> 
                    </div>
                    <div class="paper paper4 active rooms home">
                        <h1 class="paper_title"> Rooms </h1>
                        <a href="#" class="new_room hint" id="new_room"> New Room </a>
                        <input type="text" class="search_room hint" id="search_room" placeholder="Search room"> 
                        <div class="page_container"> 
                            <ul class="rooms_header">
                                <li class="room_row header">
                                    <span class="room_name">Name</span>
                                    <span class="room_players">Players</span>
                                    <span class="room_status">Round</span>
                                </li>
                            </ul>
                            <ul class="rooms content hint" id="rooms">
                            </ul>
                            <div class="page_navigation hint" id="page_navigation"></div>
                            <div class="clear"></div>
                        </div>
                    </div>
                    <div class="paper paper5 create_room home">
                        <h1 class="paper_title"> Create Room </h1>
                        <form class="create_room_form">
                            <label class="create_form_label" for="room_name"> Room Name: </label>
                            <input class="create_form_input hint" id="room_name" type="text" name="name">     
                            <label class="create_form_label" for="room_rounds"> Rounds: </label>
                            <input class="create_form_input hint" id="room_rounds" type="text" name="rounds" value="10">     
                            <label class="create_form_label" for="room_players"> Players: </label>
                            <input class="create_form_input hint" id="room_players" type="text" name="players" value="0">    
                            <label class="create_form_label" for="room_stop"> Stop Time: </label>
                            <input class="create_form_input hint" id="room_stop" type="text" name="stop" value="60">    
                            <label class="create_form_label" for="room_check"> Check Time: </label>
                            <input class="create_form_input hint" id="room_check" type="text" name="check" value="20">
                            <div class="letter_list hint" id="letter_list"> 
                                <input type="checkbox" name="A" id="id_A" class="letters" checked="checked"/><label class="letters_label" for="id_A">A</label>
                                <input type="checkbox" name="B" id="id_B" class="letters" checked="checked"/><label class="letters_label" for="id_B">B</label>
                                <input type="checkbox" name="C" id="id_C" class="letters" checked="checked"/><label class="letters_label" for="id_C">C</label>
                                <input type="checkbox" name="D" id="id_D" class="letters" checked="checked"/><label class="letters_label" for="id_D">D</label>
                                <input type="checkbox" name="E" id="id_E" class="letters" checked="checked"/><label class="letters_label" for="id_E">E</label>
                                <input type="checkbox" name="F" id="id_F" class="letters" checked="checked"/><label class="letters_label" for="id_F">F</label>
                                <input type="checkbox" name="G" id="id_G" class="letters" checked="checked"/><label class="letters_label" for="id_G">G</label>
                                <input type="checkbox" name="H" id="id_H" class="letters" checked="checked"/><label class="letters_label" for="id_H">H</label>
                                <input type="checkbox" name="I" id="id_I" class="letters" checked="checked"/><label class="letters_label" for="id_I">I</label>
                                <input type="checkbox" name="J" id="id_J" class="letters" checked="checked"/><label class="letters_label" for="id_J">J</label>
                                <input type="checkbox" name="K" id="id_K" class="letters" checked="checked"/><label class="letters_label" for="id_K">K</label>
                                <input type="checkbox" name="L" id="id_L" class="letters" checked="checked"/><label class="letters_label" for="id_L">L</label>
                                <input type="checkbox" name="M" id="id_M" class="letters" checked="checked"/><label class="letters_label" for="id_M">M</label>
                                <input type="checkbox" name="N" id="id_N" class="letters" checked="checked"/><label class="letters_label" for="id_N">N</label>
                                <input type="checkbox" name="O" id="id_O" class="letters" checked="checked"/><label class="letters_label" for="id_O">O</label>
                                <input type="checkbox" name="P" id="id_P" class="letters" checked="checked"/><label class="letters_label" for="id_P">P</label>
                                <input type="checkbox" name="Q" id="id_Q" class="letters" checked="checked"/><label class="letters_label" for="id_Q">Q</label>
                                <input type="checkbox" name="R" id="id_R" class="letters" checked="checked"/><label class="letters_label" for="id_R">R</label>
                                <input type="checkbox" name="S" id="id_S" class="letters" checked="checked"/><label class="letters_label" for="id_S">S</label>
                                <input type="checkbox" name="T" id="id_T" class="letters" checked="checked"/><label class="letters_label" for="id_T">T</label>
                                <input type="checkbox" name="U" id="id_U" class="letters" checked="checked"/><label class="letters_label" for="id_U">U</label>
                                <input type="checkbox" name="V" id="id_V" class="letters" checked="checked"/><label class="letters_label" for="id_V">V</label>
                                <input type="checkbox" name="W" id="id_W" class="letters" checked="checked"/><label class="letters_label" for="id_W">W</label>
                                <input type="checkbox" name="X" id="id_X" class="letters" checked="checked"/><label class="letters_label" for="id_X">X</label>
                                <input type="checkbox" name="Y" id="id_Y" class="letters" checked="checked"/><label class="letters_label" for="id_Y">Y</label>
                                <input type="checkbox" name="Z" id="id_Z" class="letters" checked="checked"/><label class="letters_label" for="id_Z">Z</label>
                                <div class="clear"></div>
                            </div>
                            <textarea name="categories" class="create_room_categories_text hint" id="create_room_categories_text">Town Country River</textarea>
                            <button class="create_room_submit hint paper_btn" id="create_room_submit"> Create Room </button>
                            <button class="create_room_cancel hint paper_btn" id="create_room_cancel"> Cancel </button>
                            <div class="clear"> </div>
                        </form>
                        
                    </div>
                </div>
                <div class="room">
                    <div class="current_letter room leftmove hint" id="current_letter"></div> 
                    <div class="paper paper6 scores room active">
                        <h1 class="paper_title hint" id="paper_title_1"></h1>
                        <div class="room_side_title">
                            <span class="current_round"></span>
                            <a href="#" class="exit_room hint" id="exit_room_1"> Quit game <i class="icon-off"></i></a>
                        </div>
                        <div class="clear"> </div>
                        <div class="score">
                            <span class="score-title">Score</span>
                            <table class="score-list"></table>
                        </div>
                        <div class="room_control">
                            <span class="time_text"> 
                                <span class="time-number"></span>s remaining
                            </span>
                            <div class="button_control"><button class="ready_play paper_btn hint" id="ready_play_1">Ready</button></div>
                        </div>
                        <div class="tabbable">
                            <ul class="nav nav-tabs">
                                <li class="active"><a href="#tab1" data-toggle="tab">Chat</a></li>
                                <li><a href="#tab2" data-toggle="tab">Users</a></li>
                            </ul>
                            <div class="tab-content">
                                <div class="tab-pane active" id="tab1">
                                    <textarea class="chat_inside"></textarea>
                                    <input type="text" class="text_inside" placeholder="Press enter to send message">  
                                </div>
                                <div class="tab-pane users_list" id="tab2">
                                    <table class="score-list"></table>
                                </div>
                            </div>
                        </div>  
                    </div>
                    <div class="paper paper7 playing room active">
                        <h1 class="paper_title hint" id="paper_title_2"></h1>
                        <div class="room_side_title">
                            <span class="current_round"></span>
                            <a href="#" class="exit_room hint" id="exit_room_2"> Quit game <i class="icon-off"></i></a>
                        </div>
                        <div class="clear"> </div>
                        <span class="phrase"> Write words starting with <span class="phrase_letter"></span> </span>
                        <form class="game_form">
                            <div class="clear"></div>
                        </form>
                        <div class="room_control">
                            <span class="time_text"> 
                                <span class="time-number"></span>s remaining 
                            </span>
                            <div class="button_control"><button class="ready_play paper_btn hint" id="ready_play_2">Stop!</button></div>
                        </div>
                        
                        <div class="tabbable">
                            <ul class="nav nav-tabs">
                                <li class="active"><a href="#tab3" data-toggle="tab">Chat</a></li>
                                <li><a href="#tab4" data-toggle="tab">Users</a></li>
                            </ul>
                            <div class="tab-content">
                                <div class="tab-pane active" id="tab3">
                                    <textarea class="chat_inside"></textarea>
                                    <input type="text" class="text_inside" placeholder="Press enter to send message">  
                                </div>
                                <div class="tab-pane users_list" id="tab4">
                                    <table class="score-list"></table>
                                </div>
                            </div>
                        </div>  
                    </div>
                    <div class="paper paper8 checking room active">
                        <h1 class="paper_title hint" id="paper_title_1"></h1>
                        <div class="room_side_title">
                            <span class="current_round"></span>
                            <a href="#" class="exit_room hint" id="exit_room_3"> Quit game <i class="icon-off"></i></a>
                        </div>
                        <div class="clear"> </div>
                        <span class="phrase"> Checking words for <span class="checking_word"></span> </span>
                        <form class="check_form">
                            <div class="clear"> </div>
                        </form>
                        <div class="room_control">
                            <span class="time_text"> 
                                <span class="time-number"></span>s remaining 
                            </span>
                            <div class="button_control"><button class="ready_play paper_btn hint" id="ready_play_3">Ready</button></div>
                        </div>
                        
                        <div class="tabbable">
                            <ul class="nav nav-tabs">
                                <li class="active"><a href="#tab5" data-toggle="tab">Chat</a></li>
                                <li><a href="#tab6" data-toggle="tab">Users</a></li>
                            </ul>
                            <div class="tab-content">
                                <div class="tab-pane active" id="tab5">
                                    <textarea class="chat_inside"></textarea>
                                    <input type="text" class="text_inside" placeholder="Press enter to send message">  
                                </div>
                                <div class="tab-pane users_list" id="tab6">
                                    <table class="score-list"></table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tooltips leftmove hint" id="eraser">
                <br/>
            </div>
            <div class="exit leftmove hint" id="exit">
                <a href="#" class="exit_button"><img alt="exit" src="/img/exit.png"></a>
            </div>
        </div>

    </body>
</html>